@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;
    padding: 1rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent; 
    backdrop-filter: blur(50px);
    z-index: -1;
    border: 1px solid #0ac095;
    
}
.header::after{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
}

 .hnote {
    color: black;
 
}
.it {
    color: #0ac095;
}

header h1 {
    font-size: 40px;
    text-decoration: none;
  
}
.exclamation {
    font-size: 1em;
}

.navbar a {
    font-size: 1.15rem;
    color: #0ac095;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
    margin-left: 2.5rem;
    padding: 10px;
    border-radius: 5px;
    transition: .3s;
    
    
}
.navbar a:hover,
.navbar a.active {
   color: white;
    background: #0ac095;
}
#check{
    display: none;
}
.icons{
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color:#0ac095;
    cursor: pointer;
    display: none;
 
}


/*BREAKS POINT*/
@media (max-width: 992px){
    .header{
        padding: 1.3rem 5%;
    }
}
@media (max-width: 768px){
    .icons{
        display: inline-flex;
    }
    #check:checked~.icons #menu-icon{
        display: none;
    }
    
    .icons #close-icon{
        display: none;
    }
    #check:checked~.icons #close-icon{
        display: block;
    }
    .navbar{ 
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgb(0, 0, 0, .1);
        backdrop-filter: blur(15px);
        box-shadow: 0 .5rem 1rem rgb(0, 0, 0, .1);
        overflow: hidden;
        transition: .3s ;
    }
    #check:checked~.navbar{
        height: 17.7rem;
    }
    .navbar a{
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
    }
    #check:checked~.navbar a{
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
}

}


.homepage {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    background-color: white;
}

.home-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
}

.home-image img {
    position: relative;
    max-width: 100%; /* Make the image responsive */
    height: auto; /* Maintain aspect ratio */
}

.home-content {
    margin-top: 2rem;
    width: 450px;
    padding: 20px;
    color: black;
    text-align: center;
    background-color: rgb(229, 241, 243);
    line-height: 2.5rem;
    border: 2px solid #038069; 
    border-radius: 10px;
}

.home-content .homenote {
    color: black;
}

.home-content .homeit {
    color: #0ac095;
}

.home-content .homeexclamation {
    font-size: 1.2em;
}

.home-content h1 {
    font-size: 55px;
    line-height: 100px;
}

.home-content p {
    font-size: 15px;
}

.btn {
    padding: 12px 35px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: bold;
    background-color: #0ac095;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    transition: 0.5s;
    line-height: 4rem;
}

.btn:hover {
    box-shadow: none;
    color: white;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .header {
        padding: 15px 5%;
    }

    header h1 {
        font-size: 30px;
    }

    .navbar a {
        font-size: 16px;
        margin-left: 20px;
    }

    .homepage {
        flex-direction: column;
        padding: 0 5%;
        align-items: center;
    }

    .home-image {
        width: 90%; /* Make the image container responsive */
        height: auto;
    }

    .home-content {
        width: 90%;
        margin-right: 0; /* Center align content */
    }

    .home-content h1 {
        font-size: 40px;
        line-height: 60px;
    }

    .home-content p {
        font-size: 14px;
    }

    .btn {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .header {
        padding: 10px 2%;
    }

    .navbar a {
        font-size: 14px;
        margin-left: 10px;
    }

    .home-content h1 {
        font-size: 35px;
        line-height: 50px;
    }

    .btn {
        padding: 10px 20px;
        font-size: 14px;
    }
}

/****************************************************Sign In css****************************************/
.home-login {
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10%;
   
}

.login {
    width: 450px;
    background: transparent;
    color: black;
    padding: 30px 40px;
    border: 2px solid #038069; 
    border-radius: 10px;
}

.login .sign {
    color: black;
}

.login .in {
    color: #0ac095;
    
}

.login h1 {
    font-size: 55px;
    text-align: center;
}

.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}

.login-page label {
    margin-bottom: 10px;
    font-size: 1rem;
    color: rgb(122, 118, 118);
}

.input-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;
}

.input-container i {
     margin-top: -5px;
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%); 
    color: rgb(122, 118, 118); 
}

.login-page input {
    padding: 15px 15px 15px 40px; 
    margin-bottom: 10px;
    border: 1px solid rgb(122, 118, 118);
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
}

.remember-forgot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    width: 100%;
    max-width: 300px;
}

.remember-me {
    display: flex;
    align-items: center;
}

.remember-me label {
    margin-left: 5px; 
}

.remember-forgot input[type="checkbox"] {
    
    width: 22px;
    height: 22px;
}

.remember-forgot a {
    font-size: 1rem;
    text-decoration: underline;
    margin-right: -20px;
}

.sign-btn {
    display: inline-block;
    width: 100%;
    height: 45px;
    color: white;
    background-color: #0ac095;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
    font-size: 17px;
    margin-top: 10px;
    text-align: center;
    align-items: center;
    line-height: 45px;
    text-decoration: none;
}

.sign-btn:hover {
    color: white;
}

.login .Register-link {
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
}

.Register-link p a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.Register-link p a:hover {
    text-decoration: underline;
}




/* Responsive Styles */

@media (max-width: 768px) {
    .header {
        padding: 15px 5%;
        flex-direction: column;
        align-items: flex-start;
    }

    header h1 {
        font-size: 30px;
    }

    .navbar a {
        font-size: 16px;
        margin-left: 20px;
    }

    .home {
        padding: 0 5%;
    }

    .login {
        width: 90%;
        padding: 20px;
    }

    .login h1 {
        font-size: 40px;
    }

    .login-page input {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .header {
        padding: 10px 2%;
    }

    .navbar a {
        font-size: 14px;
        margin-left: 10px;
    }

    .login h1 {
        font-size: 35px;
    }

    .login .btn {
        height: 40px;
        font-size: 15px;
    }

    .login .Register-link {
        font-size: 13px;
    }
}


/************************************************************Admin css*********************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: white;
}

/* Left Sidebar */
.leftside {
    width: 200px;
    background-color: #0ac095;
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Allow scrolling if content overflows */
}

.logo {
    margin-bottom: 20px; 
}

.logo h1 {
    margin: 0;
    font-size: 35px; 
    color: white; 
}

.logo .notees {
    color: black; 
}

.logo .it {
    color: white; 
}

.admin-navbar {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    margin-top: 30px;
}

.nav-item {
    display: flex;
    align-items: center; 
    color: black; 
    cursor: pointer; 
    font-weight: 600;
    padding: 5px;
    transition: background-color 0.3s;
}

.nav-item:hover,
.nav-item.active {
    color: #fff; 
    background-color: #038069;
}

.nav-item a {
    text-decoration: none;
    color: black;
}


.solar--notes-broken {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-width='1.5'%3E%3Cpath d='m11.777 10l4.83 1.294M11 12.898l2.898.776m6.414-1.027c-.605 2.255-.907 3.383-1.592 4.114a4 4 0 0 1-2.01 1.161q-.145.034-.295.052c-.915.113-2.032-.186-4.064-.73c-2.255-.605-3.383-.907-4.114-1.592a4 4 0 0 1-1.161-2.011c-.228-.976.074-2.103.679-4.358l.517-1.932l.244-.905c.455-1.666.761-2.583 1.348-3.21a4 4 0 0 1 2.01-1.16c.976-.228 2.104.074 4.36.679c2.254.604 3.382.906 4.113 1.59a4 4 0 0 1 1.161 2.012c.161.69.057 1.456-.231 2.643'/%3E%3Cpath stroke-linejoin='round' d='M3.272 16.647c.604 2.255.907 3.383 1.592 4.114a4 4 0 0 0 2.01 1.161c.976.227 2.104-.075 4.36-.679c2.254-.604 3.382-.906 4.113-1.591a4 4 0 0 0 1.068-1.678M8.516 6.445q-.527.137-1.165.31c-2.255.604-3.383.906-4.114 1.59a4 4 0 0 0-1.161 2.012c-.161.69-.057 1.456.231 2.643'/%3E%3C/g%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    size: 20px;
    color: white;
  }
  .material-symbols--favorite-outline {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m12 21l-1.45-1.3q-2.525-2.275-4.175-3.925T3.75 12.812T2.388 10.4T2 8.15Q2 5.8 3.575 4.225T7.5 2.65q1.3 0 2.475.55T12 4.75q.85-1 2.025-1.55t2.475-.55q2.35 0 3.925 1.575T22 8.15q0 1.15-.387 2.25t-1.363 2.412t-2.625 2.963T13.45 19.7zm0-2.7q2.4-2.15 3.95-3.687t2.45-2.675t1.25-2.026T20 8.15q0-1.5-1-2.5t-2.5-1q-1.175 0-2.175.662T12.95 7h-1.9q-.375-1.025-1.375-1.687T7.5 4.65q-1.5 0-2.5 1t-1 2.5q0 .875.35 1.763t1.25 2.025t2.45 2.675T12 18.3m0-6.825'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    color: white;
  }
  .vaadin--archives {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' d='M11 2H5v4h6zM9 4H7V3h2z'/%3E%3Cpath fill='%23000' d='M3 0v16h2v-1h6v1h2V0zm9 14H4V8h8zm0-7H4V1h8z'/%3E%3Cpath fill='%23000' d='M11 9H5v4h6zm-2 2H7v-1h2z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    color: white;
  }
  .hugeicons--logout-04 {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M7.023 5.5a9 9 0 1 0 9.953 0M12 2v8' color='%23000'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    color: white;
  }
  .mdi--user {
    display: inline-block;
    width: 2em;
    height: 2em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4 8-4'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
  .gg--add {
    display: inline-block;
    width: 2em;
    height: 2em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='%23000' fill-rule='evenodd' clip-rule='evenodd'%3E%3Cpath d='M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12m10-8a8 8 0 1 0 0 16a8 8 0 0 0 0-16'/%3E%3Cpath d='M13 7a1 1 0 1 0-2 0v4H7a1 1 0 1 0 0 2h4v4a1 1 0 1 0 2 0v-4h4a1 1 0 1 0 0-2h-4z'/%3E%3C/g%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
/* Welcome Section */
.welcome {
    margin-top: auto; 
    margin-left: 18px;
}

.highlight-text {
    font-weight: 600;
    font-size: 20px; 
}

/* Main Content */
.notes {
    width: calc(100% - 200px); 
    padding: 20px;
    overflow-y: auto; 
}

.all-notes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.all-notes h1 {
    color: black;
    font-size: 40px;
    text-decoration: underline #0ac095;
}

.icon-text {
    display: flex; 
    align-items: center; 
}

.add-note-container {
    display: flex;
    align-items: center; 
    gap: 7px;
}

.addnotes {
    font-size: 20px;
    font-weight: 600;
}

.all-notes input {
    padding: 10px;
    border-radius: 15px;
    border: solid 1px;
    width: 250px;
    margin-right: 20px; 
}

.note123 {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    margin-top: 20px;
}

.note {
    width: calc(25% - 20px); 
    height: 180px;
    border: solid 1px rgb(152, 147, 147);
    border-radius: 10px;
    padding: 10px;
    background-color: #f9f9f9; 
    transition: box-shadow 0.3s;
}

.note:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

.note h1 {
    font-size: 15px;
    color: #000;
    font-weight: 900;
}

.note p {
    color: rgb(86, 83, 83);
    font-size: 15px;
    margin: 0;
}

.note h5 {
    color: #696363;
    margin: 0;
    padding-top: 10px; 
    margin-left: 0; 
    font-size: 12px; 
}

/* Responsive Styles */
@media (max-width: 700px) {
    .leftside {
        width: 150px;
    }

    .notes {
        width: calc(100% - 150px);
    }

    .note {
        width: calc(50% - 20px); 
    }
}

@media (max-width: 480px) {
    .leftside {
        width: 100%;
        position: absolute;
        height: 100vh;
        z-index: 1;
    }

    .notes {
        width: 100%;
        margin-top: 60px; 
        overflow-y: auto; /* Enable scrolling */
    }

    .note {
        width: 100%; 
    }

    .all-notes input {
        width: 100%; 
    }
}

/*************************************************************Register css************************************************************/
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: transparent;


}
.wrapper{
    margin-top: 40px;
    width: 750px;
    background: transparent;
    border: 2px solid #038069; 
    border-radius: 10px;
    color: #fff;
    padding: 40px 35px 55px;
    margin: 0 10px;

}
 .sign {
    color: black;
    
}

 .up {
    color: #0ac095;
   
}

  h1 {
    font-size: 50px;
    text-align: center;
   
}

.wrapper .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    
}
.input-box .input-field{
    position: relative;
    width: 48%;
    height: 50px;
    margin: 13px 0;

}
.input-box .input-field input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1px solid rgb(122, 118, 118);
    outline: none;
    font-size: 16px;
    color: rgb(122, 118, 118);
    border-radius: 6px;
    padding: 15px 15px 15px 40px;

}

.input-box .input-field input::placeholder{
    color: rgb(122, 118, 118);
}
.input-box .input-field i{
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: rgb(122, 118, 118);
}
.wrapper label{
    display: inline;
    font-size: 14.5px;
    margin: 10px 0 23px;
}
.wrapper label input{
    accent-color: #fff;
    margin-right: 5px;
     color: rgb(122, 118, 118);;
}
.wrapper .registerbtn{
    margin-top: 20px;
    width: 100%;
    height: 45px;
    background:#0ac095;
    color: white;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px rgb(0, 0, 0, .1);
    cursor: pointer;
    font-size: 18px;
   font-weight: 600;

}
@media (max-width: 576px){
    .input-box .input-field {
        width: 100%;
        margin: 10px 0;
    }
}